@import url('https://fonts.googleapis.com/css?family=News+Cycle:700|Yantramanav:300,400,700');
@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  background: $light-beige;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: $red;
  font-size: 3em;

  @include responsive(mobile) {
    font-size: 2em;
  }
}

.red {
  color: $red;
}
