@import '../styles/variables';
@import '../styles/mixins';

$avatar-diameter: 256px;
$avatar-border-width: 4px;
$avatar-border-separation: 4px;
$avatar-inner-diameter: $avatar-diameter - ($avatar-border-width + $avatar-border-separation) * 2;

.container {
  font-family: 'News Cycle', Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.5em;

  & > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.avatar {
  width: $avatar-diameter;
  height: $avatar-diameter;
  border-radius: 100%;
  border: $avatar-border-width solid $tan;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: transparent;
  outline: none;

  .avatar-inner {
    width: $avatar-inner-diameter;
    height: $avatar-inner-diameter;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: $avatar-inner-diameter;
      height: $avatar-inner-diameter;
    }
  }
}

.social-links {
  list-style: none;
  padding: 0;
  margin-top: 2em;

  li {
    display: inline-block;
    margin: 0 1em;
    opacity: .6;
    transition: opacity .15s;

    &:hover {
      opacity: 1;
    }

    img {
      width: 8/3em;

      @include responsive(mobile) {
        width: 2em;
      }
    }
  }
}
