@import '../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Yantramanav', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  margin-bottom: 2rem;
}

.brand a {
  color: $red;
  //font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav ul {
  list-style: none;
  font-weight: 300;

  li {
    display: inline-block;
    margin-left: 2em;

    a {
      color: $dark-gray;
      transition: color .15s;

      &.active,
      &:hover,
      &:focus,
      &:active {
        color: $red;
      }
    }
  }
}