@import '../styles/variables';
@import '../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem 4rem 1rem;
  color: $dark-gray;

  @include responsive(mobile) {
    padding: 2rem 1rem 1rem;
  }
}
